.navbar{
    display: flex;
    align-items: center;
    background: rgb(24, 25, 27);
    justify-content: space-between;
    height: 13vh;
    width: 100%;
    margin: 0;
}
  
.logo {
    text-decoration: none;
    color: #fff;
}
  
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 25px;
    padding: 30px;
}
  
.nav-listado{
    color: rgb(173, 168, 168);
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
  
.listado-hijo{
    margin-right: 60px;
    text-decoration: none;
    color: rgb(201, 201, 201);
  }
  
.listado-hijo:hover{
   color: #fff;
   font-weight: bolder;
   transition: color 0.3s;
}